<nav class="navbar navbar-expand-md navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"
                alt="" width="90" height="36" class="d-inline-block align-text-top">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" routerLinkActive="active">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="home" routerLinkActive="active">
                    <i class="fas fa-home fa-2x" routerLink="/home"></i>

                </li>
                <p> </p>
                <li class="search" routerLinkActive="active">
                    <i class="fas fa-search fa-2x" routerLink="/search"></i>
                </li>

            </ul>

        </div>
    </div>
</nav>