nav.navbar {
    background-color: #4979ff;
  }
  .pokemon-logo {
    margin-left: 70px;
    height: 80px;
    width: 180px;
  }
  .home{
    color: white;
    position: relative;
    left: 10px;

  }
  .search{
    color: white;
    position: relative;
    left: 40px;
  }