<div class="row row-cols-2 row-cols-md-5 g-4">
    <div class="col" *ngFor="let poke of items">


        <div class="card">
            <div>
                <div class="titulo">
                    <h5 class="card-title">
                        {{poke.name}}
                    </h5>
                </div>
                <div class="img img-cols-md-9 g-4">
                    <img [src]="poke.sprites.front_default " class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h6 class="especificaciones">
                        Peso: {{poke.weight}}
                    </h6>
                    <h6 class="especificaciones">
                        Altura: {{poke.height}}
                    </h6>
                    <h2 class="Id">
                        #{{poke.id}}
                    </h2>
                </div>
            </div>
        </div>
    </div>